/* 
1、id 和 class 选择器
 id 和 class 选择器不要以数字开头，数字开头的ID在 Mozilla/Firefox 浏览器中不起作用。
 id属性具有唯一性，不可重复。
 id 选择器以 "#" 来定义。
 class 选择器有别于id选择器，class可以在多个元素中使用。
 class类选择器以一个点"."来定义。
 可以指定特定的HTML元素使用class，eg:
 p.center {text-align:center;}-所有使用 class="center"的p元素中的文本居中:
2、CSS 样式表创建
    2.1、外部样式表(External style sheet)
    当样式需要应用于很多页面时，外部样式表将是理想的选择。每个页面使用 <link> 标签链接到样式表。 <link> 标签在（文档的）头部：
    <head>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    </head>
    2.2、内部样式表(Internal style sheet)
    当单个文档需要特殊的样式时，就应该使用内部样式表。你可以使用 <style> 标签在文档头部定义内部样式表，就像这样:
    <head>
    <style>
    p {margin-left:20px;}
    </style>
    </head>
    2.3、内联样式(Inline style)
    由于要将表现和内容混杂在一起，内联样式会损失掉样式表的许多优势。请慎用这种方法，例如当样式仅需要在一个元素上应用一次时。
3、多重样式优先级
一般情况下，优先级如下：
内联样式 > 内部样式 > 外部样式 > 浏览器默认样式
注意：如果外部样式放在内部样式的后面，则外部样式将覆盖内部样式。
*/

body {
    /* 设置页面背景色 */
    background-color: #d0e4fe;
    /* 设置页面背景图片 */
    background-image: url("../source/cover.png");
    /* 在水平方向重复背景图像 */
    background-repeat: repeat-x;
    /* 定位背景图像:右上角 */
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    /* 固定的背景图片 */
    background-attachment: fixed;
    /* 简写背景属性，顺序为：
        background-color-设置元素的背景颜色。
        background-image-把图像设置为背景。
        background-repeat -设置背景图像是否及如何重复。
        background-attachment -背景图像是否固定或者随着页面的其余部分滚动。
        background-position - 设置背景图像的起始位置。
    */
    background: #5d9ab2 url("./../source/cover.png") no-repeat top left;
    margin-left: 625px;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #d4dae2;
}

.ex {
    color: rgba(0, 0, 255, 0.8);
}

/* 文本对齐 */

p.date {
    text-align: right;
}

.main {
    /* 首行缩进2个文字 */
    text-indent: 2em;
    /* 当text-align设置为"justify"，每一行被展开为宽度相等，左，右外边距是对齐（如杂志和报纸）。*/
    text-align: justify;
    font-style: italic;
    background-color: #d4dae2;
}

/*移除下划线*/

a {
    display: block;
    border: 2px solid rgb(40, 223, 153);
    border-radius: 8px;
    width: 120px;
    text-align: center;
    text-decoration: none;
}

/* 添加上划线 */

.top {
    text-decoration: overline;
}

/* 添加删除线 */

.middle {
    text-decoration: line-through;
}

/* 添加下划线 */

.bottom {
    text-decoration: underline;
}

/* 字母全部大写 */

.caseup {
    text-transform: uppercase;
}

/* 字母全部小写 */

.caselow {
    text-transform: lowercase;
}

/* 首字母大写 */

.casecap {
    text-transform: capitalize;
}
/* 设置文本方向 */
.caseup {
    direction: rtl;
}
/* 设置字母或汉字间距 */
.caseup {
    letter-spacing: 10px;
}
/* 设置行间距 */
.main {
    line-height: 150%;
}
/* 设置单词之间的空格（中文无效） */
.casecap {
    word-spacing: 30px;
}
/* 禁用折行 */
.longtext {
    white-space: nowrap;
}
/* 链接样式 
a:link - 正常，未访问过的链接
a:visited - 用户已访问过的链接
a:hover - 当用户鼠标放在链接上时
a:active - 链接被点击的那一刻

a:hover 必须跟在 a:link 和 a:visited后面
a:active 必须跟在 a:hover后面
*/
a:link {
    color: aqua;
}
a:visited {
    color: chocolate;
}
a:hover {
    color: chartreuse;
    text-decoration: underline;
}
a:active {
    color:purple;
    text-decoration: underline;
}
/* 边框样式 */
.round {
    border-style: solid;
    border-width: 1px;
    /* 如果边框颜色和文字颜色一致，可以不用设置 */
    border-color: black;
    /* 上面三个可以简写成下面 */
    border: solid 1px black;
}
.redb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: red;
    /* 上面三个可以简写成下面 */
    border-bottom: solid 1px red;
}
.circle {
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
.leftw {
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: blue;
    background-color: aquamarine;
}
.rounddiff {
    /* 顺序是：上、右、下、左 */
    border-style: double ridge inset outset;
    border-width: 2px 3pc 4px 5pt;
    border-color: aquamarine firebrick forestgreen goldenrod;
}
/* list */

ol {
    list-style-type: none;
    background-color: floralwhite;
}
/* 伪元素 */
.main::first-letter {
    width: 1.23em;
    color: firebrick;
    font-size: 200%;
    line-height: 90%;
}
/* 下拉菜单 */
.drop {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color:green;
    color: white;
    border: none;
    width: 120px;
    height: 30px;
    font-size: 16px;
    /* 鼠标样式 */
    cursor: pointer;
    
}
.drop-cnt {
    /* 隐藏下拉菜单 */
    display: none;
    width: 120px;
    /* padding-left: -10px; */
    margin-top: -60px;
    background-color:honeydew;
    /* 设置显示方向 */
    position: absolute;
    right: 105%;
    z-index: 1;
    
    /* 设置阴影 */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* 淡入 - 1秒内从 0% 到 100% 显示 */
    opacity: 0;
    transition: opacity 1s;
}
.drop-cnt a {
    color: #000;
    border: none;
    text-decoration: none;
    /* 设置此属性可以使下拉菜单内容竖向排列 */
    display: block;

}
.drop-cnt a:hover {
    background-color: darkturquoise;
    color: white;
}
.drop:hover .drop-cnt {
    /* 鼠标放在菜单按钮上时显示 */
    display: block;
    opacity: 1;
}
/* 添加箭头 */
.drop-cnt::after {
    content: "";
    position: absolute;
    /* 改变箭头方向 */
    left: 100%;
    top: 50%;
    margin-left: 0px;
    border-style: solid;
    border-width: 5px;
    /* 设置箭头颜色，上右下左 */
    border-color: transparent transparent transparent yellow;
}
/* 透明度 */
img {
    opacity: 0.88;
}
img:hover {
    opacity: 1;
}

/* 线性渐变-从上到下 */
.grad1 {
    height: 200px;
    /* background: -webkit-linear-gradient(red, yellow);
    background: -o-linear-gradient(red, yellow);
    background: -moz-linear-gradient(red, yellow); */
    background: linear-gradient(red, yellow);
}
/* 线性渐变-从左到右 */
.grad2 {
    height: 200px;
    margin-top: 5px;
    background: linear-gradient(to right, red, yellow);
}
/* 线性渐变-从左上角到右下角 */
.grad3 {
    height: 200px;
    margin-top: 5px;
    background: linear-gradient(to bottom right, green, yellow);
}
/* 线性渐变-角度（箭头朝上逆时针转动）
0deg：从下到上渐变；
90deg：从左到右渐变；
180deg：从上到下渐变；
-90deg：从右到左渐变；
*/
.grad4 {
    height: 100px;
    margin-top: 5px;
    background: linear-gradient(-90deg, blue, red);
}
/* 线性渐变-多个颜色均匀分布 */
.grad5 {
    height: 300px;
    margin-top: 10px;
    background: linear-gradient(red, green, blue);
}
/* 线性渐变-多个颜色不均匀分布 */
.grad6 {
    height: 300px;
    margin-top: 10px;
    background: linear-gradient(red 30%, green 50%, blue 80%);
}
/* 线性渐变- 带透明度*/
.grad7 {
    height: 300px;
    margin-top: 10px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}
/* 线性渐变- 重复的*/
.grad8 {
    height: 200px;
    margin-top: 10px;
    background: repeating-linear-gradient(red, yellow 10%, green 20%);
}
/* 径向渐变 
background: radial-gradient(center, shape size, start-color, ..., last-color);
center:渐变的中心，默认是中心，可以用两个百分数标识渐变中心；
shape size:形状，默认是elipse（椭圆）
*/
.grad9 {
    height: 400px;
    margin-top: 20px;
    background: radial-gradient(50% 60%, blue, green, yellow, black);
}
/* 过渡 */
#guodu1 {
    height: 200px;
    width: 100px;
    background: chocolate;
    transition: width 2s;
}
#guodu1:hover {
    width: 100%;
}
#guodu2 {
    height: 200px;
    width: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
}
#guodu2:hover {
    width: 500px;
    height: 300px;
    transform: rotate3d(100, 20, 50, 170deg);
}
/* 动画 */
@keyframes myani {
    from {
        width: 100px;
        height: 200px;
        background: red;
    }
    to {
        width: 100%;
        height: 300px;
        background: rebeccapurple;
    }
}
.donghua {
    animation: myani 3s;
}